---
import { getPaths } from "@/utils/getPaths"
import GlovalNav from "./GlovalNav/GlovalNav.astro"
import type { Nav } from "./types/"

import style from "./Footer.module.scss"

const { root, about, works, faq, contact } = getPaths()

const nav: Array<Nav> = [
  {
    name: "TOP",
    path: root,
  },
  {
    name: "ABOUT",
    path: about,
  },
  {
    name: "WORKS",
    path: works,
  },
  {
    name: "FAQ",
    path: faq,
  },
  {
    name: "CONTACT",
    path: contact,
  },
]
---

<footer class={style.footer}>
  <div class={style.footer__inner}>
    <div class={style.footer__nav}>
      <GlovalNav nav={nav} />
    </div>
    <small class={style.footer__copy}>&copy; company name</small>
  </div>
</footer>
