---
import styles from "./Accordions.module.scss";

type Item = {
  trigger: string;
  panel: string;
  defaultOpen?: boolean;
};

type Props = {
  items: Item[];
};

const { items } = Astro.props;
---

<div class="js-accordions">
  {
    items.map(({ trigger, panel, defaultOpen = false }) => (
      <dl class="js-accordion" data-default-open={`${defaultOpen}`}>
        <button
          type="button"
          class:list={[styles.trigger, "js-accordion-trigger"]}
          aria-expanded={`${defaultOpen}`}
        >
          {trigger}
        </button>
        <dd
          class:list={[styles.panel, "js-accordion-panel"]}
          aria-hidden={`${!defaultOpen}`}
        >
          <div class={styles.panelInner}>{panel}</div>
        </dd>
      </dl>
    ))
  }
</div>

<script>
  import { Accordions } from "./script";

  const wrappers = document.querySelectorAll<HTMLDivElement>(".js-accordions");
  for (const wrapper of wrappers) {
    const accordions = new Accordions(wrapper);
    accordions.init();
  }
</script>
