---
import type { Nav } from "../types/"

import style from "./HamburgerMenu.module.scss"

type Props = { nav: Array<Nav> }
const { nav, ...props } = Astro.props
---

<script>
  import { hamburgerMenu } from "@/js/hamburgerMenu"
  hamburgerMenu()
</script>

<nav id="js-hamburger-menu" class={style.hamburgerMenu} aria-label="global navigation" aria-hidden="true" {...props}>
  <ul class={style.hamburgerMenu__list}>
    {
      nav.map(({ name, path }) => (
        <li class={style.hamburgerMenu__item}>
          <a href={path} class={style.hamburgerMenu__link}>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
