---
import style from "./index.module.scss"

import Heading from "@/components/Elements/Heading/Heading.astro"
import Content from "@/components/Layout/Content/Content.astro"
import AppLayout from "@/components/layouts/App.astro"
import MainVisual from "@/features/Lower/MainVisual/MainVisual.astro"
import type { MainVisualProps } from "@/features/Lower/MainVisual/MainVisual.astro"

const mvImage = await import(`@/assets/img/common/dummy.png`)

const meta = {
  title: "ベース2カラムページ",
}

const mainVisual: MainVisualProps = {
  heading: "ベース2カラムページ",
  img: {
    src: mvImage.default,
    alt: "ベース2カラムページのメインビジュアル",
  },
}
---

<AppLayout {meta}>
  <div class={style.top}>
    <MainVisual {...mainVisual} />
    <div class={style.top__content}>
      <Content>
        <section class={style.top__section}>
          <Heading titleEn={"title EN"} titleJa={"見出し 日本語"} />
          <p>
            本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          </p>
          <p>
            本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          </p>
          <p>
            本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          </p>
        </section>
        <section class={style.top__section}>
          <Heading titleEn={"title EN"} titleJa={"見出し 日本語"} />
          <p>
            本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          </p>
          <p>
            本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          </p>
          <p>
            本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          </p>
        </section>
      </Content>
    </div>
  </div>
</AppLayout>
