---
import { Image } from "@astrojs/image/components"

import ButtonHamburger from "./ButtonHamburger/ButtonHamburger.astro"
import HamburgerMenu from "./HamburgerMenu/HamburgerMenu.astro"
import style from "./Header.module.scss"
import HeaderMenu from "./HeaderMenu/HeaderMenu.astro"
import type { Nav } from "./types/"

import { getPaths } from "@/utils/getPaths"

const { root, page_base_column1, page_base_column2, page_base_contact } = getPaths()

const nav: Array<Nav> = [
  {
    name: "TOP",
    path: root,
  },
  {
    name: "ベース1カラムページ",
    path: page_base_column1,
  },
  {
    name: "ベース2カラムページ",
    path: page_base_column2,
  },
  {
    name: "ベースお問い合わせページ",
    path: page_base_contact,
  },
]
---

<header class={style.header}>
  <div class={style.header__inner}>
    <div class={style.header__logo} title="トップページへ戻る">
      <a href="/" class={style.header__logoLink}>
        <Image
          src={import("@/assets/img/common/logo.svg")}
          alt="株式会社FLAT"
          width={62}
          height={43}
          class={style.header__logoImage}
        />
      </a>
    </div>
    <div class={style.header__globalNav}>
      <HeaderMenu nav={nav} />
    </div>
  </div>
  <div class={style.header__hamburgerMenu}>
    <HamburgerMenu nav={nav} />
  </div>
  <div class={style.header__hamburger}>
    <ButtonHamburger />
  </div>
</header>
