---
import { getPaths } from "@/utils/getPaths"

import { Image } from "@astrojs/image/components"

import Hamburger from "@/components/Elements/Hamburger/Hamburger.astro"
import GlovalNav from "@/components/Elements/GlovalNav/GlovalNav.astro"

import style from "./Header.module.scss"

const { root, about, works, faq, contact } = getPaths()

const nav = [
  {
    name: "TOP",
    path: root,
  },
  {
    name: "ABOUT",
    path: about,
  },
  {
    name: "WORKS",
    path: works,
  },
  {
    name: "FAQ",
    path: faq,
  },
  {
    name: "CONTACT",
    path: contact,
  },
]
---

<header class={style.header}>
  <div class={style.header__inner}>
    <div class={style.header__logo} title="トップページへ戻る">
      <a href="/" class={style.header__logoLink}>
        <Image
          src={import("@/assets/img/common/logo.svg")}
          alt="株式会社FLAT"
          width={62}
          height={43}
          class={style.header__logoImage}
        />
      </a>
    </div>
    <div class={style.header__nav}>
      <GlovalNav />
    </div>
    <Hamburger />
  </div>
</header>
