---
import { Image } from "@astrojs/image/components"

import DrawerNav from "./DrawerNav/DrawerNav.astro"
import GlovalNav from "./GlovalNav/GlovalNav.astro"
import Hamburger from "./Hamburger/Hamburger.astro"
import style from "./Header.module.scss"
import type { Nav } from "./types/"

import { getPaths } from "@/utils/getPaths"

const { root, about, works, faq, contact } = getPaths()

const nav: Array<Nav> = [
  {
    name: "TOP",
    path: root,
  },
  {
    name: "ABOUT",
    path: about,
  },
  {
    name: "WORKS",
    path: works,
  },
  {
    name: "FAQ",
    path: faq,
  },
  {
    name: "CONTACT",
    path: contact,
  },
]
---

<header class={style.header}>
  <div class={style.header__inner}>
    <div class={style.header__logo} title="トップページへ戻る">
      <a href="/" class={style.header__logoLink}>
        <Image
          src={import("@/assets/img/common/logo.svg")}
          alt="株式会社FLAT"
          width={62}
          height={43}
          class={style.header__logoImage}
        />
      </a>
    </div>
    <div class={style.header__globalNav}>
      <GlovalNav nav={nav} />
    </div>
  </div>
  <div class={style.header__drawerNav}>
    <DrawerNav nav={nav} />
  </div>
  <div class={style.header__hamburger}>
    <Hamburger />
  </div>
</header>
